extends layout

block content
  div.topBar
    h1(class="title")= title
    a(class="topRight" href="/new") New Restaurant

  div.firstTop
    if rest
      for restaurants in rest
        div.greyBox
          a(href=restaurants.name)= restaurants.name
          img(class="pic" src=restaurants.image)
          p.description= restaurants.type
          p.description=restaurants.location
